<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "Campo #{@filial.bairro}",'' %></li>
      <li><%= link_to "Membros", filial_membros_path(@filial) %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
        <DIV style="float: left;" class="borda">
          <%= image_tag @filial.imagem.url(:tamanho_medio) %>
        </DIV>
        <p>
          <b><%= t("activerecord.attributes.filial.nome", :default => t("activerecord.labels.nome", :default => "Nome")) %>:</b>
          <%= @filial.nome %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.filial.endereco", :default => t("activerecord.labels.endereco", :default => "Endereco")) %>:</b>
          <%= @filial.endereco %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.filial.bairro", :default => t("activerecord.labels.bairro", :default => "Bairro")) %>:</b>
          <%= @filial.bairro %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.filial.cidade", :default => t("activerecord.labels.cidade", :default => "Cidade")) %>:</b>
          <%= @filial.cidade %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.filial.estado", :default => t("activerecord.labels.estado", :default => "Estado")) %>:</b>
          <%= @filial.estado %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.filial.historia", :default => t("activerecord.labels.historia", :default => "Historia")) %>:</b>
          <%= @filial.historia %>
        </p>
        <% if @filial.aniversariantes_do_mes.present? %>
          <FIELDSET class="borda"> <legend class="gray">Aniversariantes do mês</legend>
            <%= render(:partial => 'aniversariantes_do_mes') %>
          </FIELDSET>
        <% end %>
        
      <p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_filial_path(@filial), :class => "button" %> 
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), filial_path(@filial), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>
            
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
