  <div class="group">
    <%= f.label :data, t("activerecord.attributes.nomeacao.data", :default => "Data"), :class => :label %>
    <%= f.text_field :data, :OnKeyPress => "mascara_data(this)", :maxlength => 10,:class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :ministerio, t("activerecord.attributes.nomeacao.ministerio", :default => "Ministerio"), :class => :label %>
    <%= f.select :ministerio_id, Ministerio.all.map{|m| [m.nome, m.id]}, :class => 'select' %>
    <span class="description">Ex: a simple text</span>
  </div>

          
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Salvar") %>
  </button>
  <span class="text_button_padding"><%= t("web-app-theme.or", :default => "or") %></span>
	<%= link_to t("web-app-theme.cancel", :default => "Cancelar"), filial_membro_path(params[:filial_id],@membro), :class => "text_button_padding link_button" %>
</div>