<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "Roles", roles_path  %></li>
      <li><%= link_to "Usuários", usuarios_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="acao">
      <%= link_to "Novo role", new_role_path, :class => "button" %> 
    </div>          
    <h2 class="title">Listagem de roles</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">ID</th>
          <th>Nome</th>
          <th>Criado em</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @roles.each do |role| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td><%= role.id %></td>
          <td><%= link_to role.nome, role_path(role) %></td>
          <td><%= role.created_at.strftime('%d/%m/%y') %></td>
          <td class="last">
            <%= link_to "Mostrar", role_path(role) %> |
            <%= link_to "Editar", edit_role_path(role) %> |
            <%= link_to "Deletar", role_path(role), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <%= will_paginate @roles  %>
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
